@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(226deg, 43%, 10%);
  color: white;
}
@media screen and (max-width: 1147px) {
  body {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 100px 0;
    font-size: 100%;
    height: 100%;
  }
}

.dashboard {
  display: grid;
  align-items: center;
  width: 70%;
  grid-template-columns: 25% 75%;
  border-radius: 1em;
  grid-template-areas: "user dash";
}
@media screen and (max-width: 1147px) {
  .dashboard {
    width: 90%;
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6);
    grid-template-areas: "user" "dash";
  }
}
@media screen and (max-width: 956px) {
  .dashboard {
    width: 95%;
  }
}
.dashboard__numbers {
  grid-area: dash;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .dashboard__numbers {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
  }
}
@media screen and (max-width: 956px) {
  .dashboard__numbers {
    gap: 20px;
  }
}
.dashboard__userbox {
  grid-area: user;
  display: grid;
  grid-template-rows: 80% 20%;
  align-items: center;
  border-radius: 1em;
  height: 100%;
  overflow: hidden;
  margin-right: 30px;
  gap: 0;
  background-color: hsl(235deg, 46%, 20%);
}
@media screen and (max-width: 768px) {
  .dashboard__userbox {
    margin: 0 0 60px 0 !important;
  }
}
@media screen and (max-width: 956px) {
  .dashboard__userbox {
    margin: 0 20px 0 0;
  }
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  border-radius: 1em;
  align-self: flex-start;
  background-color: hsl(246deg, 80%, 60%);
  height: 90%;
}
@media screen and (max-width: 768px) {
  .user {
    height: 90%;
    flex-direction: row;
    align-items: center;
    padding: 50px 0;
  }
}
.user img {
  width: 60px;
  height: 60px;
  margin: 0 0 30px 0;
  border-radius: 100%;
  border: 3px solid white;
}
@media screen and (max-width: 768px) {
  .user img {
    margin: 0 20px 0 0;
  }
}
.user__report {
  font-size: 0.8em;
  color: hsl(236deg, 100%, 87%);
}
@media screen and (max-width: 768px) {
  .user__report {
    font-size: 1em;
  }
}
.user__name {
  font-size: 2.2em;
  font-weight: 300;
}
@media screen and (max-width: 375px) {
  .user__name {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 320px) {
  .user__name {
    font-size: 1.4em;
  }
}

.activity {
  border-radius: 1em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 60px 20px 20px 20px;
  background-color: hsl(235deg, 46%, 20%);
}
.activity__header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  justify-content: flex-end;
}
.activity__header--work {
  background-color: hsl(15deg, 100%, 70%);
}
.activity__header--play {
  background-color: hsl(195deg, 74%, 62%);
}
.activity__header--study {
  background-color: hsl(348deg, 100%, 68%);
}
.activity__header--exercise {
  background-color: hsl(145deg, 58%, 55%);
}
.activity__header--social {
  background-color: hsl(264deg, 64%, 52%);
}
.activity__header--selfcare {
  background-color: hsl(43deg, 84%, 65%);
}
.activity__header::after {
  content: "";
  position: absolute;
  height: 45px;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 1em;
  width: 100%;
  bottom: -15px;
}
.activity__title {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 20px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
.activity__current {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 10px;
}
.activity-previous {
  font-size: 0.8em;
  color: hsl(236deg, 100%, 87%);
}

@media screen and (max-width: 768px) {
  .activity-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.dates {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  color: hsl(235deg, 45%, 61%);
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .dates {
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    font-size: 1.3em;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding: 0;
    text-align: center;
  }
}
.dates p {
  cursor: pointer;
  margin-bottom: 10px;
  width: fit-content;
  transition: 0.2s ease-in-out;
}
.dates p:hover {
  color: white;
}

/* class added by JS */
.active {
  color: white;
}

/*# sourceMappingURL=style.css.map */
